body{
    font-family: 'Montserrat', sans-serif !important;
}
.sidebars{
    position:sticky;
    top: 0;
    height: 100vh;
}

.sidebars a{
    text-decoration: none;
    color: white;
}

.qlsp a, .qldh a, .qlkh a, .qldt a{
    display: flex;
    margin-left: 10%;
    padding-bottom: 5%;
}

.qlsp a:hover,
.qldh a:hover, 
.qlkh a:hover,
.qldt a:hover{
    color: grey;
}

.sp{
    margin-right: 15%;
}
.dh{
    margin-right: 17%;
}
.kh{
    margin-right: 9%;
}
.dt{
    margin-right: 11%;
}
.arrow-right-1,
.arrow-right-2,
.arrow-right-3,
.arrow-right-4{
    display: none;
}


.navbar{
    font-size: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.justify i, 
.icon-menu i{
    font-size: 25px;
    cursor: pointer;
}

.setting{
    font-size: 20px;
}

@media (min-width: 576px){
    .modal-dialog {
    max-width: 650px;
    margin: 1.75rem auto;
    }
}
#edit i{
    color: black;
}
#edit:hover i{
    color: white;
}
.backtop{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #bbb8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 40px;
    right: 20px;
    position: fixed;
    color: black;
}
.icon-menu i{
    padding-right: 15px;
}

.main-admin{
    background-color: rgba(206, 208, 215, 0.685);
}

.widget-facebook{
    background-color: rgb(12, 12, 219);
}

.widget-google {
    background-color: red;
}

.widget-twitter{
    background-color: rgb(12, 167, 219);
}

.footer-admin{
    background-color: rgb(240, 237, 237);
    color: grey;
}